.NavigationItem a {
  text-decoration: none;
  padding: 1.5rem 1rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  color: #FFF;
  font-size: 1.7rem;
  border: none;
}
